<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class=" font-extrabold mb-2 w-full text-rose-700 text-4xl flex"><img src="<%= asset_path('logo.png') %>" class="h-10 w-10 mr-3"><%= post.title %></strong>
  </p>

</div>
